<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/my-books"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="book-chapters">
        <ion-icon name="book"></ion-icon>
        <ion-label>Pages</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="book-notes">
        <ion-icon name="people"></ion-icon>
        <ion-label>Community</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
