<ion-content class="ion-padding">
  <ion-avatar class="ion-float-right" (click)="chooseAvatar('1')">
    <img src="../../../assets/avatar/1.png" />
  </ion-avatar>

  <ion-avatar class="ion-float-right">
    <img src="../../../assets/avatar/2.png" (click)="chooseAvatar('2')" />
  </ion-avatar>

  <ion-avatar class="ion-float-right">
    <img src="../../../assets/avatar/3.png" (click)="chooseAvatar('3')" />
  </ion-avatar>

  <ion-avatar class="ion-float-right">
    <img src="../../../assets/avatar/4.png" (click)="chooseAvatar('4')" />
  </ion-avatar>
</ion-content>
