<ion-header> </ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-avatar slot="start">
      <img
        src="https://images.pexels.com/photos/1482476/pexels-photo-1482476.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      />
    </ion-avatar>
    <ion-label>
      <h2>{{title}}</h2>
      <p>by: {{by}}</p>
      <ion-button
        shape="round"
        (click)="sendLetter()"
        color="success"
        *ngIf="!canPost"
      >
        Send Letter
      </ion-button>
      <ion-button
        shape="round"
        (click)="sendLetter()"
        color="danger"
        *ngIf="canPost"
      >
        Delete Book
      </ion-button>
    </ion-label>
  </ion-item>

  <div *ngFor="let chapter of chapters;  let i = index ">
    <ion-card
      *ngIf="chapter.bookId == bookId"
      (click)="viewChapter(i)"
      color="dark"
    >
      <ion-card-content>
        {{i + 1}}. {{chapter.title}}
        <ion-note class="ion-float-right">12/12/21</ion-note>
      </ion-card-content></ion-card
    >
  </div>

  <ion-button
    (click)="createChapter()"
    expand="block"
    color="primary"
    shape="round"
    *ngIf="canPost"
    color="success"
  >
    Add Chapter
  </ion-button>
</ion-content>
