<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Post Chapter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Title:</ion-label>
    <ion-input [(ngModel)]="chapter.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Body:</ion-label>
    <ion-input [(ngModel)]="chapter.content"></ion-input>
  </ion-item>

  <ion-button
    (click)="addChapter()"
    expand="block"
    shape="round"
    color="success"
  >
    Add
  </ion-button>
</ion-content>
